<!DOCTYPE html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crypto</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">

  </head>
  <body class="container">
    <h1>Crypto</h1>
    <div id="app">
      <table class="table table-hover">
        <thead>
          <tr>
            <td>Image</td>
            <td>Name</td>
            <td>Price (USD)</td>
            <td>Last 1h</td>
            <td>Last 24h</td>
            <td>Last 7d</td>
        </thead>
        <tbody>
          <tr>
            <td><img v-bind:src="coinData.image.thumb"></td>
            <td><a href="singleview/singleview.html">{{  coinData.name }}</a></td>
            <td>{{ coinData.market_data.current_price.usd }}</td>
            <td v-bind:style="getColor(coinData.market_data.price_change_percentage_1h_in_currency.usd)">
              <span v-if="coinData.market_data.price_change_percentage_1h_in_currency.usd > 0">+</span>{{coinData.market_data.price_change_percentage_1h_in_currency.usd }}%
            </td>
            <td v-bind:style="getColor(coinData.market_data.price_change_percentage_24h_in_currency.usd)">
                <span v-if="coinData.market_data.price_change_percentage_24h_in_currency.usd > 0">+</span>{{coinData.market_data.price_change_percentage_24h_in_currency.usd }}%
            </td>
            <td v-bind:style="getColor(coinData.market_data.price_change_percentage_7d_in_currency.usd)">
              <span v-if="coinData.market_data.price_change_percentage_7d_in_currency.usd > 0">+</span>{{coinData.market_data.price_change_percentage_7d_in_currency.usd }}%
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="static/js/vue2-filters.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="static/js/app.js"></script>
  </body>
</html>