<!DOCTYPE html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Information</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">

  </head>
  <body class="container">
    <h1>Information</h1>
    <div id="singleview">
      <button onclick="back()">to assets</button>
      <div style="width: 50%;">
        <h3><img v-bind:src="coinData.image.thumb"> {{coinData.name}} </h3>
        <h4 style="opacity: 50%; text-transform: uppercase;">{{coinData.symbol}}</h4>
        <div style="padding-top: 10%;">
          <table class="table table-hover">
            <thead>
              <tr>
                <td><b>Market cap, USD</b></td>
                <td><b>Price change 24h, USD</b></td>
            </thead>
            <tbody>
              <tr>
                <td>{{ coinData.market_data.market_cap.usd }}</td>
                <td v-bind:style="getColor(coinData.market_data.price_change_24h)">
                  <span v-if="coinData.market_data.price_change_24h > 0">+</span>{{ coinData.market_data.price_change_24h }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="static/js/vue2-filters.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="static/js/singleview.js"></script>
  </body>
</html>

<script>
  function back() {
      location.href = "../index.html";
    }
</script>